<div class="container mt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center">Password Generator</h2>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="length" class="col-sm-4 col-form-label">Password Length</label>
            <div class="col-sm-8">
              <input type="number" min="1" class="form-control" id="length" [(ngModel)]="passwordLength" placeholder="Password Length">
            </div>
          </div>
          <br />
          <div class="form-check">
            <input class="form-check-input" type="checkbox" (change)="mustInclude('letters')" value="" id="letters">
            <label class="form-check-label" for="letters">
              Letters
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" (change)="mustInclude('numbers')" value="" id="numbers">
            <label class="form-check-label" for="numbers">
              Numbers
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" (change)="mustInclude('specailChars')" value="" id="specialChars">
            <label class="form-check-label" for="specialChars">
              Special Characters
            </label>
          </div>
          <br />
          <div>
            <button class="btn btn-primary" [disabled]="!(!(passwordLength <= 0) && (letters || numbers || specailChars))" (click)="passwordGenerate()">Genrate</button>
          </div>
          <br />
          <div class="form-group row" *ngIf="password">
            <label for="password" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" value="{{ password }}" id="password">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>